/* html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
} */

.el-container.is-vertical {
  -ms-flex-direction: column;
  flex-direction: column;
}
.el-container.is-vertical, .el-drawer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.el-container {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;
}
.el-container, .el-timeline-item__node {
  display: -webkit-box;
  display: -ms-flexbox;
}
section {
  display: block;
}

.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  /* text-align: center; */
  line-height: 60px;
}
.el-header {
  padding: 0 20px;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  /* position: absolute;
  top: 0px;
  left: 0px;
  width: 100wh;
  width: 100%; */
}
.el-aside, .el-header {
  -webkit-box-sizing: border-box;
}
header {
  display: inline;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}
.el-aside {
  overflow: auto;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.el-aside, .el-header {
  -webkit-box-sizing: border-box;
}
aside {
  display: block;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  /* text-align: center; */
  /* line-height: 160px; */
}
.el-main {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
}
.el-footer, .el-main {
  -webkit-box-sizing: border-box;
}

main {
  display: block;
}

.ant-tabs-content{
  width: 100%;
  height: 100%;
}